.body{
    border: 8px solid black;
    display: flex;
    justify-content:center; /* This works on the main axis*/
    /* We use the align-items property to control the alignment aong the cross axis */
    
}
.box{
    height: 200px;
    width: 200px;
    background-color: #0071FF;
    font-size: 40px;
    
}