body{
    height: 100vh;
    border: 8px solid black;
    display: flex;
    justify-content:center; /* This works on the main axis*/
    /* We use the align-items property to control the alignment aong the cross axis */
    /* align-items: center;     */
    /* flex-direction: column; will reverse the divs 5-1 */
    /* to center the box vertically you can use  */
    align-items:center;
    height: 100vh;

}
.box{
    height: 200px;
    width: 200px;
    background-color: #0071FF;
    font-size: 40px;
    
}