body {
    font-family: Arial;
    background: #f4f4f4;
}

.container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border: 1px solid #ccc;
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
}

button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background: blue;
    color: white;
    border: none;
}